<ion-content color="cinza-claro">
  <div class="centralizar">
    <div class="centralizar-avatar">
      <ion-avatar class="avatar-grande">
        <ion-img src="https://img.freepik.com/fotos-gratis/linda-borboleta-na-natureza_23-2150445580.jpg"></ion-img>
      </ion-avatar>
    </div>

    <div class="centralizar-avatar">
      <ion-card class="card">
        <ion-toolbar>
          <ion-title color="letras">Bem-vindos, <strong>Aliançados!</strong></ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-title color="letras">Login</ion-title>
        </ion-toolbar>

        <ion-list>
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="exemplo@gmail.com"></ion-input>
          </ion-item>


          <ion-item>
            <ion-input labelPlacement="floating">
              <div slot="label">Senha</div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-button color="azul-claro" expand="block" (click)="logar()">ACESSAR</ion-button>

      </ion-card>
    </div>

    <div class="centralizar-avatar">
        <ion-img class="logo-aliançados" src="assets/img/logo-aliançados.png"></ion-img>
    </div>

  </div>
</ion-content>