.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    height: 100%;
}

.centralizar-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-grande {
    width: 250px;
    height: 250px;
}

.card {
    width: 500px;
    padding: 10px;
}

.logo-aliançados {
    width: 180px;
}